body,
html {
  min-height: 100%;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6)) !important;
}
#root {
  min-height: 100%;
}
main {
  min-height: 100%;
}

.nav-open {
  margin-left: 250px;
  .side-bar-wrapper {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}
.nav-close {
  margin-left: 0px;
  .side-bar-wrapper {
    left: -250px;
    opacity: 0;
    visibility: hidden;
  }
}

@media print {
  [data-no-print] {
    display: none;
  }
}
.table-wrapper {
  overflow-x: auto;
  width: 100%;
  border-collapse: collapse;
}

.global-table {
  background: light-dark(var(--mantine-color-white), var(--mantine-color-body));
}
.test-table {
  & {
    border-collapse: collapse;
    white-space: nowrap;
  }
  & td,
  & th {
    color: var(--mantine-color-text);
    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding: 4px 8px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  }
  & tr:first-child th {
    border-top: 0;
  }
  & tr:first-child td {
    border-top: 0;
  }
  & tr:last-child td {
    border-bottom: 0;
  }
  & tr td:first-child,
  & tr th:first-child {
    border-left: 0;
  }
  & tr td:last-child,
  & tr th:last-child {
    border-right: 0;
  }
  .t-head * {
    font-size: 14px;
    font-weight: bold;
  }

  .t-meal-head * {
    font-weight: bold;
  }
  .t-meal-head {
    background-color: var(--mantine-color-cyan-light);
  }
}

tr,
td,
th {
  white-space: nowrap;
}
